<!doctype html>
<html>
  <head>
  <meta name="viewport"
  content="width=device-width,
  initial-scale=1.0">
    <style>
	* {
       box-sizing: border-box;
    }
	[class*="col-"] {
	   float: left;
	   padding: 15px;
	}
    .col-1 {width: 8.33%;}
    .col-2 {width: 25%;}
    .col-3 {width: 91.66%;}
    .col-4 {width: 100%;}	
	html {
	   font-family: "helvetica";
	}   
    .header {
       background-color: #DDFFDD;
	   color: #EEEEEE;
       padding: 20px;
    }	
	.menu li {
	   background-color:#55A1BB;
	   color: #EEEEEE;
	}
	.menu li:hover {
	   background-color: #4490AA;
	}
    </style>
   </head>
 <body>

<div class="header">
<h1> Nice Headings </h1>
</div>

<div class="row">

<div class="col-2 menu">
<ul>
<li> 1 </li> 
<li> 2 </li>
<li> 3 </li>
<li> 4 </li>
</ul>
</div>

<div class="col-3">
<h1>The paragraphs</h1>
<p> Here is some text, it is somewhat less relevant </p>
</div>

</div>
</body>
</html>
